rule_files:
- "alert.rules"
# Patterns for files from which target groups are extracted.

scrape_configs:
  - job_name: "cselabs"
    scrape_interval: "5s"

    target_groups:
    - targets: ['localhost:9100']
      labels:
        group: meta

    - targets: ['128.238.64.92:9100']
      labels:
        group: cse-dev

    - targets: ['128.238.64.79:9100', '128.238.64.100:9100']
      labels:
        group: cse

    relabel_configs:
    - source_labels:    [__address__]
      regex:            localhost:9100
      target_label:     instance
      replacement:      "prometheus"

    - source_labels:    [__address__]
      regex:            128.238.64.79:9100
      target_label:     instance
      replacement:      "CSEKVM.poly.edu"

    - source_labels:    [__address__]
      regex:            128.238.64.92:9100
      target_label:     instance
      replacement:      "Opennebula-dev"

    - source_labels:    [__address__]
      regex:            128.238.64.100:9100
      target_label:     instance
      replacement:      "tasks.engineering.poly.edu"


  - job_name: "node"
    scrape_interval: "5s"
    metrics_path: /

    target_groups:
    - targets: ['128.238.66.20:9103', '128.238.66.20:9104', '128.238.66.20:9105', '128.238.66.20:9107']
      labels:
        group: xen

    - targets: ['128.238.66.20:9101', '128.238.66.20:9102']
      labels:
        group: gluster

    - targets: ['128.238.66.20:9108']
      labels:
        group: backup

    relabel_configs:
    - source_labels:    [__address__]
      regex:            128.238.66.20:9101
      target_label:     instance
      replacement:      "Vlab-gluster1"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9102
      target_label:     instance
      replacement:      "Vlab-gluster2"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9103
      target_label:     instance
      replacement:      "Vlab-xen1"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9104
      target_label:     instance
      replacement:      "Vlab-xen2"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9105
      target_label:     instance
      replacement:      "Vlab-xen3"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9107
      target_label:     instance
      replacement:      "Vlab-xen5"
    - source_labels:    [__address__]
      regex:            128.238.66.20:9108
      target_label:     instance
      replacement:      "Vlab-backup"

  - job_name: "vital"
    scrape_interval: "5s"

    target_groups:
    - targets: ['128.238.66.20:9100']
      labels:
        group: vital

    relabel_configs:
    - source_labels:    [__address__]
      regex:            128.238.66.20:9100
      target_label:     instance
      replacement:      "vital.poly.edu"

  - job_name: 'blackbox'
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [http_2xx]
      target: ['https://prometheus.poly.edu']
    target_groups:
    - targets:
      - localhost:9115
